/* __V3D_TEMPLATE__ - template-based file; delete this line to prevent this file from being updated */

body {
    margin: 0px;
    overflow: hidden;
}

.v3d-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.fullscreen-button {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-size: 100% 100%;
    display: none;
    z-index: 1;
}

.fullscreen-open {
    background-image: url('media/fullscreen_open.svg');
}

.fullscreen-close {
    background-image: url('media/fullscreen_close.svg');
}



.v3d-annotation {
    width: 20px;
    height: 20px;
    min-width: 0px;
    padding: 0px;
    /* font-size: none; */
    /* font-style: italic; */
    /* font-weight: bold; */
    /* color: rgb(22, 22, 22); */
    font-family: "Times New Roman", Times, serif;
    font-size: 8px;
    border: none;
    background: rgba(255, 166, 0, 0);
    background-image: url("./media/point.svg");
}

.v3d-annotation h1 {
    color: #2e2e2e;
    border-radius: 5px;
    padding-left: 9px;
    padding-right: 9px;
    background-color: #ffc300;
    /* border-color: rgb(255, 57, 57); */
    border: 50px;
    left: -138px;
    top: -15px;
    position: absolute;
    align-self: inherit;
    margin-right: -380px;
    margin-left: 169px;
}

.v3d-annotation-dialog {
    background-color: #1af8a7;
    /* opacity: 0.5; */
    color: black;
    border-color: rgb(255, 57, 57);
    /* border: 50; */
    margin-left: 5px;
    margin-top: -40px;
    /* top: -100%;
    left:100%; */
    /* width: 10px; */
    transition: transform 1s;
    /* animation: flip-in-hor-bottom 1s; */
}

.v3d-annotation-transparent h1 {
    background-color: gray;
    transition-duration: 1s;
    opacity: 0.3;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}

.v3d-annotation-transparent {
    background-color: gray;
    opacity: 0.2;
}
























/* removes tap blinking on ios devices */
* { -webkit-tap-highlight-color:rgba(0,0,0,0); }

/* Dark Theme */

.v3d-simple-preloader-background {
    background-color: #181818;
}

.v3d-simple-preloader-container {
    filter: drop-shadow(0px 0px 4px #2a69bd);
}


.v3d-simple-preloader-logo {
    background-image: url('media/robertech.svg');
}

.v3d-simple-preloader-bar {
    background: linear-gradient(90deg, #ffffff, #4388e0);
    height: 3px;
    border-color: #2b70c7;
}